<header data-headroom class="header fixed-top">
  <nav class="navbar navbar-expand-lg text-uppercase py-0">
    <a class="navbar-brand d-lg-none py-0 ms-4 me-0" href="#">
      Logo
    </a>
    <div class="offcanvas offcanvas-end vh-100" tabindex="-1" id="navbarOffcanvasLg"
      aria-labelledby="navbarOffcanvasLgLabel">
      <div class="mx-4 px-2">
        <div class="row flex-grow-1 p-4 p-lg-0">
          <div class="d-flex align-items-center justify-content-center  col-lg-4 order-1 order-lg-2 text-lg-center">
            <button type="button" class="d-lg-none border-0 bg-transparent p-0 ms-auto" data-bs-dismiss="offcanvas"
              aria-label="Close">
              <i class="bi bi-x-lg"></i>
            </button>
            <a class="navbar-brand d-none d-lg-block py-0 me-0 " href="/">
              Logo
            </a>
          </div>  
          <div class="col-lg-4 order-2 order-lg-1 ms-auto ms-lg-0">
            <ul class="navbar-nav d-flex flex-column flex-lg-row">
              <li class="nav-item me-4 me-xxl-5">
                <a class="nav-link" href="#">Test</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Test</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-4 order-3">
            <ul class="navbar-nav d-flex flex-column flex-lg-row justify-content-lg-end">
              <li class="nav-item me-4 me-xxl-5">
                <a class="nav-link" href="#">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg"
    aria-controls="navbarOffcanvasLg">
    <i class="bi bi-text-right"></i>
  </button>
</header>