<t-c.page.header />
<div class="main">
 <div class="d-flex min-vh-100 text-white">
  <div class="area position-absolute top-0 d-flex flex-grow-1">
   <ul class="circles flex-grow-1">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
   </ul>
  </div>
  <figure class="cover-image position-relative w-100 vh-100 d-flex align-items-center justify-content-center mb-0">
   <figcaption class="cover-image__title position-relative text-center px-3 px-md-0">
    <h1 class="display-1 text-uppercase fw-semibold mb-4">
     Ok Your Website
     <br>
     Works
    </h1>
    <h2>
     <a class="btn btn-sm btn-dark text-uppercase px-4 py-3 rounded-0" href="//puneetxp.github.io">Contact Us</a>
    </h2>
    <h2>
     <a class="btn btn-sm btn-dark text-uppercase px-4 py-3 rounded-0" href="/manager">Check Your Dashboard</a>
    </h2>
   </figcaption>
   <div class="mouse position-absolute">
    <div class="mouse-scroll position-relative bg-white"></div>
   </div>
  </figure>
 </div>
</div>